<!-- Menu toggler thingy -->
<a href="#menu" id="menuLink" class="menu-link">
	<!-- Hamburger icon -->
	<span></span>
</a>
<div id="menu">
	<a class="pure-menu-heading" href="/">Home</a>
	<div class="pure-menu">
		<ul class="pure-menu-list">
			<li class="pure-menu-item">
				<a class="pure-menu-link" href="/about/">About</a>
			</li>
			<li class="pure-menu-item">
				<a class="pure-menu-link" href="/links/">Links</a>
			</li>
			<li class="pure-menu-item">
				<a class="pure-menu-link" href="/notes-ramblings/">Notes</a>
			</li>
			<li class="pure-menu-item">
				<a class="pure-menu-link" href="/e-begging/">Donations</a>
			</li>
			<li class="pure-menu-item">
				<a class="pure-menu-link" href="{{ .Site.BaseURL }}/index.xml">RSS</a>
			</li>
		</ul>
	</div>
</div>	
