<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
        <div id="layout">
            {{- partial "header.html" . -}}
            <div id="main">
                <div class="content">
                    {{- block "main" . -}}{{- end -}}
                </div>
            </div>
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>

