{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
    {{ range .Params.links }}
        {{ $color := "#1f8dd6" }}
        {{ if ne .target.color nil }}
            {{ $color = .target.color }}
        {{ end }}
        <div class="embed" style="border-left: 10px solid {{$color}}">
            <a class="url" href="{{.target.url}}"><strong>{{.target.name}} - {{.target.title}}</strong></a>
            <p class="desc">{{.target.description}}</p>
            <a href="{{.target.url}}">
                <img class="pure-img-responsive embed-img" src="{{.target.image}}">
            </a>
        </div>
    {{ end }}
    <style>
        .url { padding-left: 1em; line-height: 1.6em; }
        .desc { 
			max-width: 300px; overflow-wrap: break-word;
			padding-left: 1em; line-height: initial; 
		}
        .embed { 
            padding-left: 1em; line-height: 0; border-radius: 10px;
            background: #191818; padding-right: 0.75em; width: fit-content;
            padding-bottom: 0.5em; min-width: 300px; margin-bottom: 2em;
        }
        img { border-radius: 10px; }
    </style>
{{ end }}

